body {
	margin: 0; /* Because annoying default browser margins */
	background-color: grey;
}

#v-video-container {
	position: relative;
	background: #c2c2c2;
	width: fit-content;
}

.v-decoration {
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
	background-image: linear-gradient(bottom, rgb(39,39,39) 13%, rgb(69,69,69) 100%);
	background-image: -o-linear-gradient(bottom, rgb(39,39,398) 13%, rgb(69,69,69) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(39,39,39) 13%, rgb(69,69,69) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(39,39,39) 13%, rgb(69,69,69) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(39,39,39) 13%, rgb(69,69,69) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.13, rgb(39,39,39)),
		color-stop(1, rgb(69,69,69))
	);
}

#v-rotation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height: 38px;
}

#v-rotator {
	position: absolute;
    top: 2px;
    right: 3px;
	font-size: 25px;
}

#v-rotator:hover {
	cursor: pointer;
}

#v-video-container:hover #v-rotation{
	opacity: .9;
}

#v-video {
	display: flex;
	margin: 0px auto;
}

#v-video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
}

#v-video-container:hover #v-video-controls{
	opacity: .9;
}

#v-video-container button {
	background: rgba(0,0,0,.5);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

#v-video-container button:hover {
	cursor: pointer;
}

#v-seek-bar {
	width: 100%
}

#v-mute {
	font-size: 17px;
    height: 25px;
    width: 42px;
}

#v-volume-bar {
	width: 60px;
}

#v-play-container {
	display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
	margin-bottom: 3px;
}

#v-play-pause {
	width: 47px;
	height: 25px;
}

#v-full-screen {
	font-size: 17px;
    height: 25px;
    width: 42px;
}

#v-loop {
	font-size: 20px;
    height: 25px;
    width: 42px;
}

#v-autoplay {
	font-size: 20px;
    height: 25px;
    width: 42px;
}